
  .master {
    display: grid;
    justify-items: center;
    grid-template-areas:
                "select"
                "preview";
  }
  
  .file-select-button {
    grid-area: select;
    background-color: rgb(7, 160, 248);
    color: white;
    margin-top: 10%;

  }
  
  .view {
    grid-area: preview;
    margin: 2rem 0;
    width: 320px;
    height: 320px;
    background-image: url("../../assets/images/degrade.png");
 
  }

  .image {
    padding: 10px
  }