.box-2 {
    display: grid;
    grid-template-areas:
                "buttonc buttons"
                "preview preview";
  }
  
  .convert-button {
    grid-area: buttonc;
    margin-left: 20%;
    background-color: rgb(7, 160, 248);
    color: white;
    margin-top: 10%;

  }

  .solve-button {
    background-color: rgb(7, 160, 248);
    color: white;
    grid-area: buttons;
    margin-left: 20%;
    margin-top: 10%;

  }
  
  .grid-view {
    grid-area: preview;
    margin: 2rem 0;
    width: 320px;
    height: 320px;
    background-image: url("../../assets/images/degrade.png");
 
  }

  .grid{
    width:306px;
    height: 306px;
    padding: 7px;
  }

  #case{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid black;
  }

  #left_red{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-left: 2px solid red;
  }

  #top_red{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 2px solid red;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid black;
  }

  #top_left_red{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 2px solid red;
    background-color: rgb(255, 255, 255);
    border-left: 2px solid red;
  }

