@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 75px;
    text-align: center;
    margin:0;
}

.app-import-image {
    margin-left: 20%;
    margin-right: 20%;
  }
